body{
  background-color: aqua;
  font-size: larger;
}
.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.dogContainer {
  display: flex;
  justify-content: center;
  font-size: larger;
}
.dogImg {
  width: 300px;
  height: 300px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}


#urlButton {
  width: 100px;
  margin: 10px 0 19px;
}

.loadingContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

